
   <%- include("base")  %>   

        <div class="col-md-8 col-lg-9 content-column white-background">
          <div class="row">
            <div class="col-xl-10">
              <div class="content-column-content">
                <h1>A propos de moi</h1>
                <p class="lead">Je m'appelle Djennadi Amine, je suis actuellement en recherche d'alternance en développement web pour l'école Sup de Vinci.
                  A l’issue de cette formation, je serai formé pour développer, adapter et maintenir des solutions applicatives.
                  Ce portfolio présente mon parcours et mes compétences.</p>
                <div class="row">
                  <div class="col-lg-8">
                    <div class="row shadow-sm border rounded text-center p-2 mb-5">
                        <div class="col p-4">
                          <img height="100" src="/img/icons/noun_coding_2996472.png"></img>
                          <p class="mt-4">Développement web</p>
                        </div>
                        <div class="col p-4">
                          <img height="100" src="/img/icons/noun_Idea_3577473.png"></img>
                          <p class="mt-4">Curiosité</p>
                        </div>
                        <div class="col p-4">
                          <img height="100" src="/img/icons/noun_Folder_3275729.png"></img>
                          <p class="mt-4">Organisation</p>
                        </div>
                    </div>
 
                    <p>Je m'appelle Djennadi Amine, je suis actuellement en recherche d'alternance en     développement web pour l'école Sup de Vinci.
                      A l’issue de cette formation, je serai formé pour développer, adapter et maintenir des solutions applicatives.
                      Ce portfolio présente mon parcours et mes compétences.
                    </p>
                    <div class="skill-item">
                      <div class="progress-title">NodeJs</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 45%;" class="progress-bar progress-bar-skill1"><span class="sr-only">40</span></div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">Javascript</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" class="progress-bar progress-bar-skill2"><span class="sr-only">60</span></div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">Java</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 49%;" class="progress-bar progress-bar-skill2"><span class="sr-only">70</span></div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">Symfony</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" class="progress-bar progress-bar-skill3">
                          <span class="sr-only">60</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">Bootstrap</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"  style="width: 65%;" class="progress-bar progress-bar-skill4"><span class="sr-only">65</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">PHP</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;" class="progress-bar progress-bar-skill5"><span class="sr-only">65</span></div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">HTML</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" class="progress-bar progress-bar-skill6"><span class="sr-only">80</span></div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">CSS</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" class="progress-bar progress-bar-skill7"><span class="sr-only">80</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <p><img src="/img/about.jpg" class="image rounded-circle img-fluid"></p>
                  </div>
                </div>
                <h4 class="text-uppercase">formation</h4>
                <p class="ml-3"><i style="color : #02447e;" class="fas fa-chevron-right fa-xs"></i> Je suis actuellement à l'école sup de vinci à la Defense, j'y effectue un Bachelor en 3 eme année en alternance, spécialiser dans le développement logiciel et plus spécialement le développement Web</p>
               <p class="ml-3"><i style="color : #02447e;" class="fas fa-chevron-right fa-xs"></i> J'ai également effectuer un BTS SIO (services informatiques aux organisations) option SLAM (solutions logicielles et applications métiers) au lycée Turgot où j'ai appris la base du développement Web</p>

              <button onclick="window.location.href='/img/cv-amine-djennadi-developpeur-web.pdf'" class="btn-1 btn btn-outline-primary mb-3 text-uppercase">Mon CV</button>
              </div>
            </div>
           </div>
        </div>
        <%- include("footer") %>