<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portfolio Djennadi Amine</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/front.js"></script>
  <script src="https://kit.fontawesome.com/ddfaa42761.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/portfolio.png">
</head>

<body>
  <div id="all">
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left"> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100">
            <a class="navbar-brand " href="/portfolio">Accueil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                 <a class="nav-link" href="/admin/home">Travaux</a>
                </li>
               <li class="nav-item">
                  <a class="nav-link" href="/admin/home/fichier">Fichier</a>
                </li>
              </ul>
            </div>
          </nav> 