<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portfolio Djennadi Amine</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/ddfaa42761.js" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic"
    />
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.theme.default.css"
    />
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/front.js"></script>
    <link rel="shortcut icon" href="/img/portfolio.png"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  </head>

  <body>
    <div class="preloader">
      <div class="lds-dual-ring"></div>
    </div>
   
    <script>
      if (getCookie("auth")) {
        $(document).ready(function () {
          $("#deconnexion").append(
            "<button class='btn btn-primary align-text-bottom text-uppercase text-white' onclick='setCookie(" +
              '"auth"' +
              ",0, -1)'>deconnexion</button>"
          );
          $("#connexion").remove();
          $("ul.sidebar-menu").append(
            '<li class="sidebar-item"><a id="contact" href="/admin/home" class="sidebar-link">Administration</a></li>'
          );
        });
      }
    </script>
    <div id="all">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left"> 
          <!--   *** SIDEBAR ***-->
          <div id="sidebar" class="col-md-4 col-lg-3" style="z-index: 999;">
            <div class="sidebar-content">
              <div class="d-flex justify-content-between">
                  <h1 class="sidebar-heading mr-2">
                    <a href="/portfolio">Portfolio</a>
                  </h1>
                  <h1 id="deconnexion" class="sidebar-heading"> 
                    <a id="connexion" href="/users/signup">Connexion</a>
                  </h1>
              </div>
              <p class="sidebar-p">Bonjour, je suis un étudiant en développement logiciel. Je suis actuellement en recherche d'alternance dans le developpement web</p>
              <p class="sidebar-p"><i class="fas fa-map-marker-alt"></i> Paris</p>
              <ul class="sidebar-menu">
                  <li class="sidebar-item"><a id="portfolio" href="/portfolio" class="sidebar-link">Accueil</a></li>
                  <li class="sidebar-item"><a id="a-propos" href="/portfolio/a-propos" class="sidebar-link">A propos</a></li>
                  <li class="sidebar-item"><a id="contact" href="/portfolio/contact" class="sidebar-link">Contact</a></li>
                </ul>
              <p class="social">
                <a href="https://www.linkedin.com/in/amine-djennadi-b7a30419b/" class="external"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Amine-maker" class="external "><i class="fab fa-github"></i></a>
                <a href="mailto:amine.djennadi@hotmail.fr"  class="email"><i class="fa fa-envelope"></i></a>
              </p>
              <div class="copyright text-center text-md-left">
                <p class="credit">&copy; <script>var date = new Date(); document.write(date.getFullYear());</script> DJENNADI Amine</p>
              </div>
            </div>
          </div>
  
 