
     <%- include("base") %>   

         
        
        <div id="main" class="col-md-8 col-lg-9 content-column white-background">
           <div class="d-flex justify-content-center">
             <div class="shapes">
                <div data-aos="fade-right" class="shape1"></div>
                <div data-aos="fade-right" class="shape2"></div>
             </div>
              <div class="col-lg-8 mt-5">
               <div data-aos="fade-right" class="content-column-content mt-5 shadow-login position-absolute p-5 w-75">
                 <h1 data-aos="fade-right" class="vertical-title-queried" data-aos-delay="100">Connexion</h1>
                 <form id="contact-form" method="post" action="/users/connexion" class="contact-form form">
                   <div class="controls"> 
                      <div class="form-group" data-aos="fade-right" data-aos-delay="200">
                          <label for="login">Login *</label>
                          <input type="text" name="login" id="login" required="required" class="form-control 
                          <% if (typeof message !== 'undefined' ) { %>
                             is-invalid" 
                          > <% } %>
                      </div>
                      
                      <div class="form-group" data-aos="fade-right" data-aos-delay="400">
                          <label for="password">Mot de passe *</label>
                          <input type="password" name="password" id="password" required="required" class="form-control
                           <% if (typeof message !== 'undefined' ) { %>
                            is-invalid" >
                          <p class="text-white bg-danger border p-2 mt-3"><span id="badge-login" class="badge badge-pill border">!</span> <%= message %> </p>
                           <% } else { %> 
                          ">
                            <% } %> 
                      </div>
                      <div>
                       <button type="submit" class="btn-1 btn btn-outline-primary text-uppercase">Connexion</button>
                      </div>
                   </div>
                 </form>
               </div>
             </div>
           </div>
         </div>
         <%- include("footer") %>