<%- include("base") %>  

       <div id="main" class="col-md-8 col-lg-9 content-column white-background">
          <div class="row">
            <div class="col-lg-8">
              <div class="content-column-content">
                <h1>Contact</h1>
                
                <h4>Vous pouvez aussi me trouver :</h4>
                <p class="social social--big">
                  <a href="https://www.linkedin.com/in/amine-djennadi-b7a30419b/" title=""><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://github.com/Amine-maker" title=""><i class="fab fa-github"></i></a>
                  <a href="mailto:amine.djennadi@hotmail.fr" title=""><i class="fa fa-envelope"></i></a>
                </p>
                <h4>Laissez moi un message</h4>
                <form id="contact-form" method="post" action="/portfolio/contact/send/" class="contact-form form">
                  <div class="controls">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Votre Prenom *</label>
                          <input type="text" name="name" id="name" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="surname">Votre Nom *</label>
                          <input type="text" name="surname" id="surname" required="required" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">Votre email *</label>
                      <input type="email" name="email" id="email" required="required" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="message">Votre message  *</label>
                      <textarea rows="4" name="message" id="message" required="required" class="form-control"></textarea>
                    </div>
                     <button type="submit" id="send" class="btn-1 btn btn-outline-primary text-uppercase">Envoyer</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
       <%- include("footer") %>