
       <%- include("base")  %> 
       
       
       <!--   *** DETAIL ***-->
        <div class="col-md-8 col-lg-9 content-column white-background">
          <div class="row">
            <div class="col-xl-10">
              <div class="content-column-content">
                <h1><%= travail.titre %> </h1>
                <p class="lead"><%= travail.description %> <br><span class="badge badge-primary"><%= travail.contexte %> </span></p>

                

                <div id="main-slider" class="owl-carousel owl-theme">

                  <% travail.fichiers.forEach(image => { %>
                    <% if (image.typeFichier == "image") { %>
                      <div class="item"><img src=<%= image.route %>  alt="" class="img-fluid"></div>
                    <% } %>
                  <% }) %>

                </div>
                <!-- /#main-slider-->

                <div class="col bg-primary p-5" data-aos="fade-right">
                  <div data-aos="fade-right" data-aos-delay="400" class="m-5 text-center text-white text-uppercase font-weight-bold">Quelques fichiers</div>
                </div>
  
                <blockquote class="blockquote">
                  <% let i = 0 %> 
                  <div class="d-flex justify-content-center">
                 <% travail.fichiers.forEach(fichier => { %>
                    <% if (fichier.typeFichier != "image")  { %>
                      <% i ++ %> 
                        <a href= <%= fichier.route %>  class="btn m-1 p-4 border shadow btn-outline-primary"><%= fichier.nomFichier %> </a>
                    <% } 
                  }) %>

                  <% if (i <= 0) { %>
                    <p>Il n'y a pas de fichiers pour ce projet</p>
                  <% }  %> 
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <%- include("footer") %>