            
      </div>
    </div>
  </div>
        <!-- JavaScript files-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/vendor/masonry-layout/masonry.pkgd.min.js"></script>
<script src="/js/front.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 600, 
    once: true,
}) 
</script>
 </body>
</html>