<!DOCTYPE html>

<%- include("base") %>

<div class="col-md-8 col-lg-9 p-0 mb-5 bg-white">
  <div class="col bg-primary p-5 position-relative" data-aos="fade-right">
    <div data-aos="fade-right" data-aos-delay="400" class="m-5 text-white">
      <h1 class="col-3">MES TRAVAUX</h1>
    </div>
  </div>
  <div
    class="col bg-primary position-absolute"
    style="padding: 90px"
    data-aos="fade-right"
  ></div>

  <div class="card-columns m-4">
    <% travauxDB.forEach(travail => { %>
    <div class="custom-card">
      <div
        class="card m-2 shadow-custom border rounded-0"
        data-aos="zoom-out"
      >
        <img
          class="card-img-top"
          src="<%= travail.fichiers[0].route %>"
          alt=""
        />
        <div class="card-body">
          <h4><%= travail.titre %></h4>
          <p><%= travail.description %></p>
          <div class="btn-custom">
            <a href="/portfolio/detail/<%= travail.id %>" class="text-center btn-block btn btn-primary">Detail <span>&rarr;</span></a>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include("footer") %>
