<%- include("base-admin") %>

<div
  class="modal fade"
  id="modalWork"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">New work</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          method="post"
          action="/admin/travaux/add"
          enctype="application/x-www-form-urlencoded"
        >
          <div class="form-group">
            <input
              class="form-control"
              name="titre"
              type="text"
              placeholder="titre"
              required
            />
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="description"
              type="text"
              placeholder="description"
              required
            ></textarea>
          </div>

          <div class="form-group">
            <input
              class="form-control"
              name="contexte"
              type="text"
              placeholder="contexte"
              required
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              name="linkDescription"
              type="text"
              placeholder="lien"
              required
            />
          </div>

          <button class="btn btn-success btn-block" type="submit">
            AJOUTER
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <form action="/admin/travaux/update" class="w-100" method="post">
      <table class="table table-hover border border-bottom-0 border-dark">
        <div
          class="table-title text-white p-3 pt-4 mb-0 bg-dark rounded-top d-flex justify-content-between mt-4"
        >
          <h1>Travaux</h1>
          <div data-toggle="tooltip" data-placement="top" title="Ajouter">
            <button
              type="button"
              class="btn btn-success rounded h-100"
              data-toggle="modal"
              data-target="#modalWork"
            >
              <i class="fas fa-plus-circle fa-sm"></i> Add work
            </button>
          </div>
        </div>
        <thead>
          <tr>
            <th scope="col">titre</th>
            <th scope="col">Description</th>
            <th scope="col">Contexte</th>
            <th scope="col">linkDescription</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% travaux.forEach(elem => { %>

          <tr id="ligne-<%= elem.id %>">
            <td id="titre" class="vertical-align-middle"><%= elem.titre %></td>
            <td id="description" class="vertical-align-middle">
              <%= elem.description %>
            </td>
            <td id="contexte" class="vertical-align-middle">
              <%= elem.contexte %>
            </td>
            <td id="linkDescription" class="vertical-align-middle">
              <%= elem.linkDescription %>
            </td>
            <th scope="col">
              <div class="d-flex">
                <button
                  id="update-<%= elem.id %>"
                  name="btn-update"
                  type="button"
                  onclick="update(this)"
                  class="btn btn-primary rounded m-1"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Modifier"
                >
                  <i class="far fa-edit fa-sm"></i>
                </button>
                <a
                  class="btn btn-danger rounded m-1"
                  href="/admin/travaux/delete/<%= elem.id %>"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Supprimer"
                >
                  <i class="far fa-trash-alt fa-sm"></i>
                </a>
              </div>
            </th>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </form>
  </div>
</div>

<%- include("footer") %>
