
 <%- include("base")  %> 

  <div class="container">
    <div class="row mb-5">
      <form class="form-inline float-right" method="post" action="/recherche/add" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
          <input class="form-control m-1" name="nom" type="text" placeholder="Nom de l'entreprise" required>
          <input class="form-control m-1" name="poste" type="text" placeholder="Poste" required>
        </div>
        <button class="btn btn-success" type="submit">AJOUTER</button>
      </form>
    </div>
    <div class="row">
      <form action="/recherche/update" class="w-100" method="post">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date candidature</th>
              <th scope="col">Nom entreprise</th>
              <th scope="col">Poste candidaté</th>
              <th scope="col">Contacté ?</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            
            <% candidatures.forEach(elem => { %>
            
              <tr id="ligne-<%= elem.id %>">  
                <td class="vertical-align-middle"><%= elem.dateC %></td>
                <td class="vertical-align-middle"><%= elem.nomEntreprise %></td>
                <td class="vertical-align-middle"><%= elem.posteCandidate %></td>
                <td class="vertical-align-middle">
                   <% if (elem.estContacte) { %>
                              oui
                        <% } else { %>
                         non
                         <% } %>
                  </td>
                <th scope="col">
                  <button id="update-<%= elem.id %>" name="btn-update" type="button" onclick="update(this)" class="btn btn-primary">Modifier</button>
                  <a class="btn btn-danger" href="recherche/delete/<%= elem.id %>">Supprimer</a>               
                </th>
              </tr>
            
            <% }) %>
        </tbody>
      </table>
     </form>
    </div>
  </div>
</body>
