<%- include("base-admin") %>

<div
  class="modal fade"
  id="modalWork"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">New File</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/admin/fichier/add">
          <div class="form-group">
            <input
              class="form-control"
              name="name"
              type="text"
              placeholder="Nom du fichier"
              required
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              name="route"
              type="text"
              placeholder="route -> ex : entrevue.jpg"
              required
            />
          </div>
          <div class="form-group">
            <select name="type" class="form-control" id="type">
              <option value="image">image</option>
              <option value="code">code</option>
              <option value="autre">autre</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" name="idTravail">
              <% tra.forEach(travail => { %>
              <option value="<%= travail.id %>"><%= travail.titre %></option>
              <% }) %>
            </select>
          </div>
          <button class="btn btn-success btn-block" type="submit">
            AJOUTER
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <form action="/admin/fichier/update" class="w-100" method="post">
      <table class="table table-hover border border-bottom-0 border-dark">
        <div
          class="table-title text-white p-3 pt-4 mb-0 bg-dark rounded-top d-flex justify-content-between mt-4"
        >
          <h1>Fichiers</h1>
          <div class="row d-flex flex-column">
            <form
              action="/admin/upload"
              enctype="multipart/form-data"
              class="m-3"
              method="post"
            >
              <div class="custom-file w-100">
                <input
                  type="file"
                  class="custom-file-input"
                  name="fichier"
                  id="file"
                  accept="image/png,image/jpeg,.doc,.docx,application/msword,.zip,.rar,.7zip"
                />

                <label class="custom-file-label" for="customFile">
                  choisir un fichier
                </label>
              </div>
              <button class="btn btn-success" type="submit">
                Ajouter le fichier au dossier
              </button>
            </form>
          </div>

          <div data-toggle="tooltip" data-placement="top" title="Ajouter">
            <button
              type="button"
              class="btn btn-success rounded h-100"
              data-toggle="modal"
              data-target="#modalWork"
            >
              <i class="fas fa-plus-circle fa-sm"></i> Add File
            </button>
          </div>
        </div>
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Route</th>
            <th scope="col">type du fichier</th>
            <th scope="col">liée a</th>
            <th class="text-center" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% fichier.forEach(elem => { %>
          <tr id="ligne-<%= elem.id %>">
            <td id="name" class="vertical-align-middle">
              <%= elem.nomFichier %>
            </td>
            <td id="route" class="vertical-align-middle"><%= elem.route %></td>
            <td id="type" class="vertical-align-middle">
              <%= elem.typeFichier %>
            </td>
            <td id="idTravail" class="vertical-align-middle">
              <%= elem.idTravail %>
            </td>

            <th scope="col" colspan="3">
              <div class="d-flex">
                <button
                  id="update-<%= elem.id %>"
                  name="btn-update"
                  type="button"
                  onclick="update(this)"
                  class="btn btn-primary rounded m-1"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Modifier"
                >
                  <i class="far fa-edit fa-sm"></i>
                </button>
                <a
                  class="btn btn-danger rounded m-1"
                  href="/admin/travaux/delete/<%= elem.id %>"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Supprimer"
                >
                  <i class="far fa-trash-alt fa-sm"></i>
                </a>
                <% if (elem.typeFichier == "image") { %>

                  <div
                  class="modal fade"
                  id="<%= elem.nomFichier %>"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="modalTitle"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4><%= elem.nomFichier %></h4>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-center">
                        <img src="<%= elem.route %>" width="600" alt="">
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Voir l'image"
                >
                  <button
                    class="btn btn-dark rounded m-1"
                    type="button"
                    data-toggle="modal"
                    data-target="#<%= elem.nomFichier %>"
                  >
                    <i class="fas fa-eye"></i>
                  </button>
                </div>

                <% } %>
              </div>
            </th>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </form>
  </div>
</div>

<%- include("footer") %>
