.btn-1 {
    
   
    cursor: pointer;
    transition: all 0.5s;
    width: auto;
    position: relative;
    padding: 0.8em
  }
  .btn-1::after {
    content: "\f054";
    font-family: "Font Awesome 5 free";
    font-weight: bold;
    position: absolute;
    left: 85%;
    top: 27%;
    right: 5%;
    bottom: 0;
    opacity: 0;

  }
  .btn-1:hover {
    background: #02447e;
    transition: all 0.5s;
    box-shadow: 0px 6px 15px  #757575;
    padding: 0.8rem 3rem 0.8rem 0.8rem;
  }

  .btn-1:hover::after {
    opacity: 1;
    transition: all 0.2s;
  }

  .shape1 {

      shape-outside: ellipse();
      clip-path: ellipse();
      width: 300px;
      height: 350px;
      background: #6fa5f7;
      position: absolute;
      top: 0;
      right: 500px;
      z-index: 0;
      animation-name: float;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    
  }
    .shape2 {

      animation-name: float;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      shape-outside: ellipse();
      clip-path: ellipse();
      width: 240px;
      height: 260px;
      background: #6fa5f7;
      position: absolute;
      right: 400px;
      top: 0;
      z-index: 0;
  }



  @keyframes float {
      0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px) rotate(125deg);
        
      }
      50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px) rotate(105deg);
        
      }
      100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px) rotate(125deg);
      }
  }

  .shadow-login{
    border: 3px solid #6fa5f7;
    box-shadow: 40px -30px 0px 8px rgba(0,0,0,0.5);
  }


  /* error page */

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

svg {
  width: 100%;
  visibility: hidden;
}

.btn-error {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}
.btn-error.green {
  border: 4px solid #6fa5f7;
  color: rgb(50, 50, 92);
}
.btn-error.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #6fa5f7;
  z-index: -1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.btn-error.green:hover {
  color: white;
  background: #6fa5f7;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.btn-error.green:hover:before {
  width: 100%;
}
.error-h1{
  font-size:700%
}
p.display-5 {
  font-size: 140%;
}
#badge-login{
  vertical-align: 12%;
}