/*
=========================================
=========================================

   Bootstrapious Boilerplate Template

=========================================
========================================= */
/*

=========================================================
    GENERAL
=========================================================

*/



html,
body {
  overflow-x: hidden;
}

strong {
  font-weight: 700;
}

header {
  z-index: 1000;
}

section {
  position: relative;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

section.background-gray-lighter {
  background: #eee;
}

section.background-gray-lightest {
  background: #f5f5f5;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

section.background-secondary {
  background: #FC888A;
  border-top: solid 1px #f92528;
  border-bottom: solid 1px #f92528;
}

.section-inverse {
  color: #fff;
}

.section-inverse h1,
.section-inverse h2,
.section-inverse h3,
.section-inverse h4,
.section-inverse h5,
.section-inverse h6 {
  color: #fff;
}

.section-inverse .heading:after {
  background: #fff;
}

.no-space .box {
  margin: 0 -0.9375rem;
}

.margin-top {
  margin-top: 1.875rem;
}

.margin-top--big {
  margin-top: 3.75rem !important;
}

.margin-bottom {
  margin-bottom: 1.875rem;
}

.margin-bottom--big {
  margin-bottom: 3.75rem !important;
}

.padding--small {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.weight-300 {
  font-weight: 300 !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

.text-gray {
  color: #555;
}

.text-gray-light {
  color: #999;
}

.text-gray-lighter {
  color: #eee;
}

a,
button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.clickable {
  cursor: pointer !important;
}

.required {
  color: #2065A1;
}

.accent {
  color: #2065A1;
}

.icon {
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem;
  border-radius: 1.875rem;
  border: solid 1px #2065A1;
  color: #2065A1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.875rem;
  margin: 0 auto 1.875rem;
  text-align: center;
}

.icon.brand-secondary {
  border-color: #FC888A;
  color: #FC888A;
}

.icon.brand-terciary {
  border-color: #37123C;
  color: #37123C;
}

.icon.brand-four {
  border-color: #71677C;
  color: #71677C;
}

/*

=========================================================
SIDEBAR + RIGHT COLUMN
=========================================================

*/
#sidebar {
  padding-top: 2.5rem;
}

@media (min-width: 576px) {
  .sidebar-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.sidebar-heading {
  font-size: 1.125rem;
  text-transform: uppercase;
}

.sidebar-heading a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar-heading a:hover {
  border-bottom: dotted 1px #2065A1;
  color: #000;
  text-decoration: none;
}

.sidebar-p {
  color: #999;
  font-size: 0.875;
}

.sidebar-menu {
  list-style-type: none;
  padding-left: 1.25rem;
  margin-bottom: 2.5rem;
}

.sidebar-item {
  margin-bottom: 0.85rem;
}

.sidebar-item.active > a, .sidebar-item.current-menu-item > a {
  color: #2065A1;
  font-weight: bold;
}

.sidebar-item.active:before, .sidebar-item.current-menu-item:before {
  color: #2065A1;
}

.sidebar-item a:hover {
  text-decoration: none;
  color: #2065A1;
}

.sidebar-item .sub-menu {
  list-style: none;
  padding-left: 0.625rem;
  margin: 0.625rem 0;
}

.sidebar-item .sub-menu a {
  color: #999;
}

.sidebar-item .sub-menu a:hover {
  color: #2065A1;
}

.sidebar-item .sub-menu li.active > a,
.sidebar-item .sub-menu li.current-menu-item > a {
  color: #2065A1;
  font-weight: bold;
}

.sidebar-item .sub-menu li.active:before,
.sidebar-item .sub-menu li.current-menu-item:before {
  color: #2065A1;
}

#btn-cv:before{
  font-family: 'Font Awesome 5 Free';
  content: '\f054';
  color: #2065A1;
  font-weight: bold;
}
#btn-cv:hover:before{
  font-family: 'Font Awesome 5 Free';
  content: '\f054';
  color: #ffffff;
  font-weight: bold;
}


.sidebar-link {
  color: #555;
}

.sidebar-link:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  margin: 0 0.85rem 0 -0.9375rem;
  color: #999;
}

.sidebar-link.active {
  color: #2065A1;
  font-weight: bold;
}

.sidebar-link.active::before {
  color: #2065A1;
}

.sidebar-link:hover::before {
  color: #2065A1;
}

.content-column {
  padding-top: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .content-column {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.content-column.white-background {
  background: #fff;
  min-height: 100vh;
}

.grid {
  padding-top: 0.85rem;
  overflow: hidden;
}

.content-column-content p.lead {
  color: #555;
}

.content-column-content p,
.content-column-content li {
  color: #999;
}

.content-column-content ul li {
  list-style-type: none;
}

.content-column-content ul li:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  margin: 0 0.85rem 0 -0.9375rem;
  color: #2065A1;
}



.content-column-content h1,
.content-column-content h2,
.content-column-content h3,
.content-column-content h4,
.content-column-content h5,
.content-column-content h6,
.content-column-content p,
.content-column-content form,
.content-column-content ul,
.content-column-content ol {
  margin-bottom: 2rem;
}

.small-navbar {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.small-navbar-heading {
  display: block;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}

.small-navbar-heading a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.small-navbar-heading a:hover {
  border-bottom: dotted 1px #2065A1;
  color: #000;
  text-decoration: none;
}

/*

=========================================================
OFF-CANVAS SIDEBAR BEHAVIOUR
=========================================================

*/
@media (max-width: 767.98px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    opacity: 1;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -48%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}

/*

=========================================================
SERVICES / INTEGRATIONS
=========================================================

*/
.services {
  margin-top: 5rem;
  text-align: center;
}

.services .services-heading {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
  color: #999;
  margin-bottom: 2.5rem;
}

.services .heading {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  text-align: center;
}

.services .heading:after {
  content: " ";
  display: block;
  width: 6.25rem;
  height: 1px;
  margin: 1.25rem auto 1.25rem;
  background: #2065A1;
}

.services p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 3.75rem;
  color: #999;
}

/*

=========================================================
CUSTOMERS
=========================================================

*/
.customer {
  text-align: center;
}

.customer img {
  display: inline-block;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.customer img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/*

=========================================================
SIGN UP FORM
=========================================================

*/
@media (max-width: 767.98px) {
  .sign-up-form .form-control {
    margin-bottom: 1.25rem;
  }
  .sign-up-form .btn {
    margin-bottom: 1.25rem;
  }
}

label {
  font-weight: normal;
  color: #555;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

/*

=========================================================
SOCIAL LINKS
=========================================================

*/
.contact-form {
  margin-bottom: 1.25rem;
}

p.social {
  margin-top: 1.25rem;
}

p.social a {
  margin: 0 0.625rem 0.625rem 0;
  color: #fff;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  line-height: 2.5rem;
  font-size: 0.9375rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
  border: solid 1px #999;
  color: #999;
  transition: all 0.3s;
  /*
             &.facebook {background-color: #4460ae; border-color: #4460ae;}
             &.gplus {background-color: #c21f25; border-color: #c21f25;}
             &.twitter {background-color: #3cf; border-color: #3cf;}
             &.instagram {background-color: #cd4378; border-color: #cd4378;}
             &.email {background-color: #4a7f45; border-color: #4a7f45;}
             &.link {background-color: #871AFF; border-color: #871AFF;}
             */
}

p.social a:hover {
  color: #2065A1;
  border-color: #2065A1;
}

p.social a i {
  vertical-align: bottom;
  line-height: 2.5rem;
}

p.social.social--outline a {
  background: transparent;
}

p.social.social--outline a.facebook {
  color: #4460ae;
  border-color: #4460ae;
}

p.social.social--outline a.gplus {
  color: #c21f25;
  border-color: #c21f25;
}

p.social.social--outline a.twitter {
  color: #3cf;
  border-color: #3cf;
}

p.social.social--outline a.instagram {
  color: #cd4378;
  border-color: #cd4378;
}

p.social.social--outline a.email {
  color: #4a7f45;
  border-color: #4a7f45;
}

p.social.social--outline a.link {
  color: #871AFF;
  border-color: #871AFF;
}

p.social.social--big a {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  line-height: 3.75rem;
  font-size: 1.56rem;
}

p.social.social--big i {
  line-height: 3.75rem;
}

/*

=========================================================
COPYRIGHT
=========================================================

*/
.copyright {
  color: #999;
  font-size: 0.8125rem;
}

.copyright p.credit {
  margin-bottom: 0.625rem;
}

.copyright p.credit a {
  color: #999;
}

/*

=========================================================
MAIN PORTFOLIO SLIDER
=========================================================

*/
#main-slider {
  margin-bottom: 2.5rem;
}

#main-slider ul li div {
  width: 100%;
}

#main-slider .owl-wrapper-outer {
  -webkit-box-shadow: 0 1px 0.85rem #ccc;
  box-shadow: 0 1px 0.85rem #ccc;
}

#main-slider .owl-controls .owl-buttons {
  display: none;
}

#main-slider .owl-controls .owl-page.active span,
#main-slider .owl-controls.clickable .owl-page:hover span {
  background: #2065A1;
}

/*

=========================================================
ABOUT
=========================================================

*/
.about-icon {
  height: 3.75rem;
  display: inline-grid;
  border-radius: 100px;
  height: 8em;
  width: 8em;
}


.progress-title {
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
  font-size: 0.78rem;
}

.progress-bar-skill1 {
  background: #4c99db;
}

.progress-bar-skill2 {
  background: #368cd7;
}

.progress-bar-skill3 {
  background: #2880cc;
}

.progress-bar-skill4 {
  background: #2472b6;
}

.progress-bar-skill5 {
  background: #2065a1;
}

.progress-bar-skill6 {
  background: #114f85;
}

.progress-bar-skill7 {
  background: #0a4272;
}

.skill-item {
  margin-bottom: 1rem;
}

.skill-item:last-of-type {
  margin-bottom: 3rem;
}

.progress {
  height: 1.5rem;
  border-radius: 0;
}

/* breadcrumbs */
.breadcrumb {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
}

.masonry-item {
  margin-bottom: 2rem;
}

.tile-link {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

.box-masonry {
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
}

.box-masonry h4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.box-masonry h4 a {
  color: #000;
  border-bottom: solid 1px transparent;
}

.box-masonry h4 a:hover {
  border-bottom: dotted 1px #2065A1;
  color: #000;
  text-decoration: none;
}

.box-masonry .box-masonry-text {
  padding: 1rem 1.25rem 1rem;
}

.box-masonry .box-masonry-text p {
  color: #999;
  font-size: 0.95rem;
}

.box-masonry .box-masonry-hover-text-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 1.25rem 1rem;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #555;
}

.box-masonry .box-masonry-hover-text-header p {
  font-size: 0.875rem;
}

.box-masonry .box-masonry-hover-text-header h4 a {
  color: #555;
}

.box-masonry .box-masonry-hover-center {
  position: absolute;
  width: 100%;
  top: 30%;
  opacity: 0;
  padding-left: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.box-masonry .box-masonry-hover-center .see-more-icon {
  color: #555;
  font-size: 3.125rem;
}

.box-masonry:hover {
  margin-top: -5px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.box-masonry:hover .box-masonry-hover-text-header {
  opacity: 1;
}

.box-masonry:hover .box-masonry-hover-center {
  opacity: 1;
}

.box-masonry:hover .box-masonry-image.with-hover-overlay:before {
  opacity: 0.8;
}

.box-masonry:hover .box-masonry-image.with-hover-icon:after {
  opacity: 0.7;
}

.box-masonry h2:last-child,
.box-masonry p:last-child {
  margin-bottom: 0;
}

.box-masonry .box-masonry-image {
  display: block;
  position: relative;
  min-height: 6.25rem;
  background: #ccc;
}

.box-masonry .box-masonry-image.with-hover-overlay:before {
  display: block;
  position: absolute;
  content: " ";
  background: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box-masonry .box-masonry-image.with-hover-icon:after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  text-align: center;
  font-size: 3.125rem;
  color: #555;
}

.box-masonry .box-masonry-image:hover {
  text-decoration: none;
}

.comment-list {
  list-style-type: none;
  padding-left: 0;
}

.comment-list li:before {
  content: "";
  display: none;
  margin: 0;
}

.comments-title {
  text-transform: uppercase;
  color: #999;
  font-size: 1.5rem;
}

.comment-body {
  margin-bottom: 1.25rem;
}

.comment-meta {
  clear: both;
  margin-bottom: 1.25rem;
}

.comment-author {
  font-family: inherit;
  text-transform: uppercase;
  color: #999;
  font-size: 0.875rem;
  float: left;
}

.comment-metadata {
  float: right;
  font-family: inherit;
  text-transform: uppercase;
  color: #999;
  font-size: 0.875rem;
}

.comment-content {
  font-weight: 300;
}

.comment-reply-link {
  font-size: 0.875rem;
}

.avatar {
  border-radius: 50%;
}

.comment-respond {
  margin-top: 2.5rem;
}

.post-navigation {
  margin-bottom: 2.5rem;
}

.comment-reply-title {
  font-size: 1.5rem;
}

.entry-meta {
  color: #999;
  font-size: 0.875rem;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #2065A1;
}

/*

=====================
STYLE SWITCHER FOR DEMO
=====================

*/
#style-switch-button {
  position: fixed;
  bottom: 120px;
  left: 0px;
  border-radius: 0;
  z-index: 2;
  color: #fff;
}

#style-switch {
  width: 300px;
  padding: 20px;
  position: fixed;
  bottom: 160px;
  left: 0;
  background: #fff;
  border: solid 1px #555;
  z-index: 2000;
}

#style-switch h4 {
  color: #252525;
}

/* ========================================= 
   
      THEMING OF THE BOOTSTRAP COMPONENTS           

   ========================================= 
   
    1 - NAVBAR
    2 - BUTTONS
    3 - TYPE
    4 - PAGINATION
    5 - UTILITIES
    6 - FORMS
    7 - CODE
    8 - NAV
    9 - CARD
    10 - DROPDOWNS
   
*/
/*
 * 1. NAVBAR
 */
.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

/*
 * 2. BUTTONS
 */
.btn {
  font-weight: 400;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:focus, .btn.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

.btn-link {
  font-weight: 400;
  color: #2065A1;
}

.btn-link:hover {
  color: #133d61;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled, .btn-link.disabled {
  color: #222;
}

.btn-primary {
  color: #fff;
  background-color: #2065A1;
  border-color: #2065A1;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1a5181;
  border-color: #184a76;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #2065A1;
  border-color: #2065A1;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #184a76;
  border-color: #15446c;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #0f0f0f;
  border-color: #090909;
}

.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #090909;
  border-color: #020202;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-info:focus, .btn-info.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-warning {
  color: #111;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #111;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #111;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #111;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-light {
  color: #111;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.btn-light:hover {
  color: #111;
  background-color: #e2e2e2;
  border-color: gainsboro;
}

.btn-light:focus, .btn-light.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #111;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #111;
  background-color: gainsboro;
  border-color: #d5d5d5;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.btn-dark:hover {
  color: #fff;
  background-color: #202020;
  border-color: #1a1a1a;
}

.btn-dark:focus, .btn-dark.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #131313;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
}

.btn-outline-primary {
  color: #2065A1;
  background-color: transparent;
  background-image: none;
  border-color: #2065A1;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #2065A1;
  border-color: #2065A1;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #2065A1;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #2065A1;
  border-color: #2065A1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.5);
}

.btn-outline-secondary {
  color: #222;
  background-color: transparent;
  background-image: none;
  border-color: #222;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #222;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #28a745;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #111;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light {
  color: #f5f5f5;
  background-color: transparent;
  background-image: none;
  border-color: #f5f5f5;
}

.btn-outline-light:hover {
  color: #fff;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #f5f5f5;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #111;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0.5);
}

.btn-outline-dark {
  color: #333;
  background-color: transparent;
  background-image: none;
  border-color: #333;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #333;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
}

/*
 * 3. TYPE  
 */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
  background-color: #f5f5f5;
}

a {
  color: #2065A1;
  text-decoration: none;
}

a:hover, a:focus {
  color: #133d61;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.4rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-left: 5px solid #2065A1;
}

.blockquote-footer {
  color: #222;
}

.blockquote-footer::before {
  content: "\2014 \00A0";
}

.text-primary {
  color: #2065A1 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #184a76 !important;
}

/*
 * 4. PAGINATION
 */
.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #2065A1;
  border-color: #2065A1;
}

.page-item.disabled .page-link {
  color: #222;
  background-color: #fff;
  border-color: #999;
}

.page-link {
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: #2065A1;
  background-color: #fff;
  border: 1px solid #999;
}

.page-link:hover, .page-link:focus {
  color: #133d61;
  text-decoration: none;
  background-color: #eee;
  border-color: #999;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

/*
* 5. UTILITIES
*/
.bg-primary {
  background-color: #2065A1 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #184a76 !important;
}

.bg-secondary {
  background-color: #222 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #090909 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important;
}

.bg-light {
  background-color: #f5f5f5 !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: gainsboro !important;
}

.bg-dark {
  background-color: #333 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1a1a1a !important;
}

.border-primary {
  border-color: #2065A1 !important;
}

.border-secondary {
  border-color: #222 !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f5f5f5 !important;
}

.border-dark {
  border-color: #333 !important;
}

.text-primary {
  color: #2065A1 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #184a76 !important;
}

.text-secondary {
  color: #222 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #090909 !important;
}

.text-success {
  color: #28a745 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #1e7e34 !important;
}

.text-info {
  color: #17a2b8 !important;
}

a.text-info:hover, a.text-info:focus {
  color: #117a8b !important;
}

.text-warning {
  color: #ffc107 !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #d39e00 !important;
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #bd2130 !important;
}

.text-light {
  color: #f5f5f5 !important;
}

a.text-light:hover, a.text-light:focus {
  color: gainsboro !important;
}

.text-dark {
  color: #333 !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #1a1a1a !important;
}

.badge-primary {
  color: #fff;
  background-color: #2065A1;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #184a76;
}

.badge-secondary {
  color: #fff;
  background-color: #222;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #090909;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #1e7e34;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.badge-info[href]:hover, .badge-info[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #117a8b;
}

.badge-warning {
  color: #111;
  background-color: #ffc107;
}

.badge-warning[href]:hover, .badge-warning[href]:focus {
  color: #111;
  text-decoration: none;
  background-color: #d39e00;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #bd2130;
}

.badge-light {
  color: #111;
  background-color: #f5f5f5;
}

.badge-light[href]:hover, .badge-light[href]:focus {
  color: #111;
  text-decoration: none;
  background-color: gainsboro;
}

.badge-dark {
  color: #fff;
  background-color: #333;
}

.badge-dark[href]:hover, .badge-dark[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #1a1a1a;
}

/*
  * 6. FORMS
  */
.form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #252525;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #252525;
  background-color: #fff;
  border-color: #61a5e0;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(32, 101, 161, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #222;
}

.form-control:-ms-input-placeholder {
  color: #222;
}

.form-control::-ms-input-placeholder {
  color: #222;
}

.form-control::placeholder {
  color: #222;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #eee;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #252525;
  background-color: #fff;
}

.form-control-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
}

select.form-control-sm:not([size]):not([multiple]) {
  height: calc(1.8125rem + 2px);
}

.form-control-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0;
}

select.form-control-lg:not([size]):not([multiple]) {
  height: calc(2.875rem + 2px);
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(40, 167, 69, 0.8);
  border-radius: .2rem;
}

.was-validated .form-control:valid, .form-control.is-valid, .was-validated
.custom-select:valid,
.custom-select.is-valid {
  border-color: #28a745;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated
.custom-select:valid:focus,
.custom-select.is-valid:focus {
  border-color: #28a745;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-tooltip, .was-validated
.custom-select:valid ~ .valid-feedback,
.was-validated
.custom-select:valid ~ .valid-tooltip,
.custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #28a745;
}

.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
  color: #28a745;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
  background-color: #71dd8a;
}

.was-validated .custom-control-input:valid ~ .valid-feedback,
.was-validated .custom-control-input:valid ~ .valid-tooltip, .custom-control-input.is-valid ~ .valid-feedback,
.custom-control-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  background-color: #34ce57;
}

.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #f5f5f5, 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 1px #f5f5f5, 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
  border-color: #28a745;
}

.was-validated .custom-file-input:valid ~ .custom-file-label::before, .custom-file-input.is-valid ~ .custom-file-label::before {
  border-color: inherit;
}

.was-validated .custom-file-input:valid ~ .valid-feedback,
.was-validated .custom-file-input:valid ~ .valid-tooltip, .custom-file-input.is-valid ~ .valid-feedback,
.custom-file-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.8);
  border-radius: .2rem;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated
.custom-select:invalid,
.custom-select.is-invalid {
  border-color: #dc3545;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .invalid-feedback,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #dc3545;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color: #dc3545;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
  background-color: #efa2a9;
}

.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.is-invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  background-color: #e4606d;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #f5f5f5, 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 1px #f5f5f5, 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #dc3545;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label::before, .custom-file-input.is-invalid ~ .custom-file-label::before {
  border-color: inherit;
}

.was-validated .custom-file-input:invalid ~ .invalid-feedback,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.is-invalid ~ .invalid-feedback,
.custom-file-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #2065A1;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #f5f5f5, 0 0 0 0.2rem rgba(32, 101, 161, 0.25);
  box-shadow: 0 0 0 1px #f5f5f5, 0 0 0 0.2rem rgba(32, 101, 161, 0.25);
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: #8bbde8;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #222;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #eee;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2065A1;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #2065A1;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(32, 101, 161, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(32, 101, 161, 0.5);
}

.custom-radio .custom-control-label::before {
  border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2065A1;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(32, 101, 161, 0.5);
}

/*
* 7.CODE
*/
code {
  font-size: 87.5%;
  color: #e83e8c;
}

/*
* 8. NAV
*/
.nav-link {
  padding: 0.5rem 1rem;
}

.nav-link.disabled {
  color: #222;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #eee #eee #999;
}

.nav-tabs .nav-link.disabled {
  color: #222;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #252525;
  background-color: #f5f5f5;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #2065A1;
}

/*
* 9. CARD
*/
.card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: none;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  padding: 1.25rem;
}

.card-img-overlay-opacity {
  background: rgba(0, 0, 0, 0.2);
}

.card-img {
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/*
* 10. DROPDOWNS
*/
.dropdown-menu {
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #111;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  padding: 0.25rem 1.5rem;
  font-weight: 400;
  color: #111;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #040404;
  background-color: #f5f5f5;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #2065A1;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #222;
}
